.section {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .title {
    font-size: 56px;
  }
  
  .message {
    font-size: 30px;
  }
  
  .button {
    margin-top: 20px;
    font-size: 30px;
    background: none;
    border: 2px solid;
    padding: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
    
    &:hover {
      color: white;
    }
  }